/* Polices du document */
/* TYPOGRAPH PRO */
@font-face {
    font-family: 'semiBold';
    src: url('TYPOGRAPHPRO-SemiBold.eot');
    src: url('TYPOGRAPHPRO-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('TYPOGRAPHPRO-SemiBold.woff2') format('woff2'),
        url('TYPOGRAPHPRO-SemiBold.woff') format('woff'),
        url('TYPOGRAPHPRO-SemiBold.ttf') format('truetype'),
        url('TYPOGRAPHPRO-SemiBold.svg#TYPOGRAPHPRO-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'light';
    src: url('TYPOGRAPHPRO-Light.eot');
    src: url('TYPOGRAPHPRO-Light.eot?#iefix') format('embedded-opentype'),
        url('TYPOGRAPHPRO-Light.woff2') format('woff2'),
        url('TYPOGRAPHPRO-Light.woff') format('woff'),
        url('TYPOGRAPHPRO-Light.ttf') format('truetype'),
        url('TYPOGRAPHPRO-Light.svg#TYPOGRAPHPRO-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
/*Montserrat */
@font-face {
    font-family: 'MontserratThin';
    src: url('Montserrat-Thin.eot');
    src: url('Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Thin.woff2') format('woff2'),
        url('Montserrat-Thin.woff') format('woff'),
        url('Montserrat-Thin.ttf') format('truetype'),
        url('Montserrat-Thin.svg#Montserrat-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
/* Police Unicons */
@font-face {
    font-family: 'unicons';
    src: url('unicons.eot');
    src: url('unicons.eot?#iefix') format('embedded-opentype'),
        url('unicons.woff2') format('woff2'),
        url('unicons.woff') format('woff'),
        url('unicons.ttf') format('truetype'),
        url('unicons.svg#Montserrat-Regular') format('svg');    
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Styles de texte */
a{
    text-align: left;
    list-style: none;
    font-family: 'light', sans-serif;
    font-size:1.25em;
    line-height: 150%;
    text-decoration: none;
}
p{
    text-align: left;
    list-style: none;
    font-family: 'light', sans-serif;
    font-size: 1.25em;
    line-height: 150%;
    text-decoration: none;
}
h1{
    text-align: left;
    list-style: none;
    font-family: 'semiBold', sans-serif;
    color: #f4c900;
    font-size:3em;
    line-height: 150%;
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
}

/* Header */
header{
    background-color: #181516;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#navBar{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    min-height: 100px; 
 }
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}
#logo img{
    height: 60px;
}
#logo img:hover{
    opacity: 0.8;
    cursor: pointer;
}
#logo .resume span{
    text-decoration: none;
    padding-left: 0.5em;
    box-sizing: content-box;
    font-family: 'semiBold', sans-serif;
}
#logo .text-base{
    opacity: 1;
    color: #f4c900;
}
#logo .text-hover{
    display: none;
}
#logo .resume:hover span.text-base{
    opacity: 0;
}
#logo .resume:hover span.text-hover{
    display: inherit;
    position: absolute;
    cursor: pointer;
    color: #ffffff;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}
.nav-links a:hover{
    color: #f4c900;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #f4c900;
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width:1080px){
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #181516;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* Scroll Back */
@keyframes border-transform{
    0%, 100%{border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;}
    14%{border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;}
    28%{border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;}
    42%{border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;}
    56%{border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;}
    70%{border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;}
    84%{border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;}
}
@-webkit-keyframes border-transform {
  0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}
.progress-wrap {
  position: fixed;
  right: 40px;
  bottom: 40px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(255,255,255,0.2);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}  
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}  
.progress-wrap::after {
  position: absolute;
  font-family: 'unicons';
  content: url('https://api.iconify.design/uil:arrow-up.svg?color=%23f4c900&height=30');
  text-align: center;
  line-height: 70px;
  color: #f4c900;
  filter: grayscale(1);
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}  
.progress-wrap:hover::after {
  opacity: 0;
}  
.progress-wrap::before {
  position: absolute;
  font-family: 'unicons';
  content: url('https://api.iconify.design/uil:arrow-up.svg?color=%23f4c900&height=30');
  text-align: center;
  line-height: 70px;
  opacity: 0;
  background: #f4c900;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
} 
.progress-wrap:hover::before {
  opacity: 1;
}  
.progress-wrap svg path {
  fill: none;
}  
.progress-wrap svg.progress-circle path {
  stroke: #f4c900;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}  

/* Main */
main{
    width: 100%;
}
.num{
    text-align: left;
    list-style: none;
    font-family: 'light', sans-serif;
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -khtml-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.anchor{
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}

/* Section1 */
.section1{
    width: 100%;
    padding-right: 6vw;
    padding-top: 100px;
    position: relative;
    background-color: #181516;
    min-height: 100vh;
}
.section1 .content{
    position: relative;
}
.section1 .content .imgBx1{
    margin-top: 4vh;
}
.section1 .content .imgBx1 img{
    max-width: 100%;
    height: auto;
}
.section1 .content .imgBx2{
    display: none;
}
@media (max-width: 1080px){
    .section1 .content .imgBx1{
        display: none;
    }
    .section1 .content .imgBx2{
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .section1 .content .imgBx2 img{
        width: auto;
        max-height: 100vh;
    }
}
.section1 .num{
    position: absolute;
    top: 25vh;
    right: 0;
}
.section1 .lVert{
    position: absolute;
    top: 350px;
    right: 30px;
    width: 1px;
    background: #ffffff;
    z-index: 1;
    bottom: -15vh;
}
.section1 .scrollDown{
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 100px;
}
.section1 .line{
    background:#ffffff;
    width: 1px;
    height: 35px;
    -webkit-animation: pulsing 1s infinite;
    animation: pulsing 2s infinite;
  }
  @-webkit-keyframes pulsing {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        transform-origin: top;
    }
    33% {
          -webkit-transform: scaleY(1);
          transform: scaleY(1);
          transform-origin: top;
    }
    66%{
        -webkit-transform: scaleY(1);
          transform: scaleY(1);
          transform-origin: bottom;
    }
    100% {
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          transform-origin: bottom;
    }
  }
  @keyframes pulsing {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        transform-origin: top;
    }
    33% {
          -webkit-transform: scaleY(1);
          transform: scaleY(1);
          transform-origin: top;
    }
    66%{
        -webkit-transform: scaleY(1);
          transform: scaleY(1);
          transform-origin: bottom;
    }
    100% {
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          transform-origin: bottom;
    }
  }

/* Section2 */
.section2{
    max-width: 100vw;
    margin-top: -1vh;
    padding-top: -100px;
    position: relative;
    padding: 2vh 6vw 2vh 2vw;
    height: auto;
    background-color: #181516;
    display: flex;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.section2 .container{
    position: relative;
    max-width: 100%;
    display: flex;
    margin-left: 8vh;
}
.section2 .container .imgBx{
    max-width: 40vw;
    flex: 0 0 40vw;
}
.section2 .container .imgBx img{
    max-width: 100%;
}
.section2 .container .text{
    margin-right: 2em;
}
@media (max-width: 1080px){
    .section2 .container{
        flex-direction: column;
    }
    .section2 .container .imgBx{
        max-width: 100%;
    }
    .section2 .container .text{
        margin-left: 0;
        margin-bottom: 1em;
    }
}
.section2 a{
    color: #ffffff;
}
.section2 p{
    color: #ffffff;
    text-align: justify;
}
.section2 .num{
    position: absolute;
    top: 25vh;
    right: -5px;
}
.section2 .bande img{
    position: absolute;
    top: 3vw;
    left: 0;
    height: 120vh;
    z-index: 1;
    opacity: 0.25;
}

/* Section3 */
.section3{
    max-width: 100vw;
    margin-top: -1vh;
    padding-top: -100px;
    position: relative;
    padding: 2vh 6vw 2vh 2vw;
    height: auto;
    background-color: #ffffff;
    display: flex;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.section3 .container{
    position: relative;
    max-width: 100%;
    display: flex;
    margin-left: 8vh;
}
.section3 .container .text{
    margin-left: 6em;
}
.section3 .container .imgBx1{
    max-width: 20vw;
    flex: 0 0 20vw;
}
.section3 .container .imgBx1 img{
    max-width: 100%;
}
.section3 .container .imgBx2{
    display: none;
}
@media (max-width: 1080px){
    .section3 .container{
        flex-direction: column;
    }
    .section3 .container .imgBx1{
        display: none;
    }
    .section3 .container .imgBx2{
        max-width: 20vw;
        flex: 0 0 20vw;
        position: relative;
        max-width: 100%;
        display: flex;
    }
    .section3 .container .imgBx2 img{
        max-width: 100%;
    }
    .section3 .container .text{
        margin-left: 0;
        margin-bottom: 1em;
    }
}
.section3 .num{
    color: #181516;
    position: absolute;
    top: 25vh;
    right: -5px;
}
.section3 .ligne{
    position: absolute;
    bottom: 0;
    left: 5vh;
    right: 5vh;
    border: 1px solid #181516;
    z-index: 1;
    opacity: 0.25;
}
/* UIMM */
.tableE1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableE1 tbody {
    display: flex;
    width: 100%;
    position: relative;
    align-items: stretch;
    margin-top: 2em;
}
.tableE1 tr:nth-child(2) {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 1em;
    padding-right: 1EM;
}
.tableE1 tr:nth-child(1) {
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.tableE1 th, .tableE1 td {
    flex-basis: 100%;
    text-align: left;
    display: flex;
}
.tableE1 th a{
    font-family: 'semiBold', sans-serif;
    text-transform: uppercase;
}
.tableE1 img{
    width: 6em;
    height: auto;
    filter: grayscale(1);
}
.tableE1 img:hover{
    cursor: pointer;
    filter: grayscale(0);
}
/* ALTEN */
.tableE2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableE2 tbody {
    display: flex;
    width: 100%;
    position: relative;
    align-items: stretch;
    margin-top: 2em;
}
.tableE2 tr:nth-child(2) {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 1em;
    padding-right: 1EM;
}
.tableE2 tr:nth-child(1) {
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.tableE2 th, .tableE2 td {
    flex-basis: 100%;
    text-align: left;
    display: flex;
}
.tableE2 th a{
    font-family: 'semiBold', sans-serif;
    text-transform: uppercase;
}
.tableE2 img{
    width: 6em;
    height: auto;
    filter: grayscale(1);
}
.tableE2 img:hover{
    cursor: pointer;
    filter: grayscale(0);
}
/* FAMAT */
.tableE3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableE3 tbody {
    display: flex;
    width: 100%;
    position: relative;
    align-items: stretch;
    margin-top: 2em;
}
.tableE3 tr:nth-child(2) {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 1em;
    padding-right: 1EM;
}
.tableE3 tr:nth-child(1) {
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.tableE3 th, .tableE3 td {
    flex-basis: 100%;
    text-align: left;
    display: flex;
}
.tableE3 th a{
    font-family: 'semiBold', sans-serif;
    text-transform: uppercase;
}
.tableE3 img{
    width: 6em;
    height: auto;
    filter: grayscale(1);
}
.tableE3 img:hover{
    cursor: pointer;
    filter: grayscale(0);
}
/* STELIA */
.tableE4 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableE4 tbody {
    display: flex;
    width: 100%;
    position: relative;
    align-items: stretch;
    margin-top: 2em;
}
.tableE4 tr:nth-child(2) {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 1em;
    padding-right: 1EM;
}
.tableE4 tr:nth-child(1) {
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.tableE4 th, .tableE4 td {
    flex-basis: 100%;
    text-align: left;
    display: flex;
}
.tableE4 th a{
    font-family: 'semiBold', sans-serif;
    text-transform: uppercase;
}
.tableE4 img{
    width: 6em;
    height: auto;
    filter: grayscale(1);
}
.tableE4 img:hover{
    cursor: pointer;
    filter: grayscale(0);
}
/* AIRBUS */
.tableE5 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableE5 tbody {
    display: flex;
    width: 100%;
    position: relative;
    align-items: stretch;
    margin-top: 2em;
}
.tableE5 tr:nth-child(2) {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 1em;
    padding-right: 1EM;
}
.tableE5 tr:nth-child(1) {
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.tableE5 th, .tableE5 td {
    flex-basis: 100%;
    text-align: left;
    display: flex;
}
.tableE5 th a{
    font-family: 'semiBold', sans-serif;
    text-transform: uppercase;
}
.tableE5 img{
    width: 6em;
    height: auto;
    filter: grayscale(1);
}
.tableE5 img:hover{
    cursor: pointer;
    filter: grayscale(0);
}
/* NOV-BLM */
.tableE6 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableE6 tbody {
    display: flex;
    width: 100%;
    position: relative;
    align-items: stretch;
    margin-top: 2em;
}
.tableE6 tr:nth-child(2) {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 1em;
    padding-right: 1EM;
}
.tableE6 tr:nth-child(1) {
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.tableE6 th, .tableE6 td {
    flex-basis: 100%;
    text-align: left;
    display: flex;
}
.tableE6 th a{
    font-family: 'semiBold', sans-serif;
    text-transform: uppercase;
}
.tableE6 img{
    width: 6em;
    height: auto;
    filter: grayscale(1);
}
.tableE6 img:hover{
    cursor: pointer;
    filter: grayscale(0);
}
/* S.N.M. */
.tableE7 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableE7 tbody {
    display: flex;
    width: 100%;
    position: relative;
    align-items: stretch;
    margin-top: 2em;
    margin-bottom: 2em;
}
.tableE7 tr:nth-child(2) {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 1em;
    padding-right: 1EM;
}
.tableE7 tr:nth-child(1) {
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.tableE7 th, .tableE7 td {
    flex-basis: 100%;
    text-align: left;
    display: flex;
}
.tableE7 th a{
    font-family: 'semiBold', sans-serif;
    text-transform: uppercase;
}
.tableE7 img{
    width: 6em;
    height: auto;
    filter: grayscale(1);
}
.tableE7 img:hover{
    cursor: pointer;
    filter: grayscale(0);
}

/* Section4 */
.section4{
    max-width: 100vw;
    margin-top: -1vh;
    padding-top: -100px;
    position: relative;
    padding: 2vh 6vw 2vh 2vw;
    height: auto;
    background-color: #ffffff;
    display: flex;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.section4 .container{
    position: relative;
    max-width: 100%;
    display: flex;
    margin-left: 4vh;
    z-index: 2;
}
.section4 .container .text{
    margin-left: 6em;
}
.section4 .imgBx1{
    position: absolute;
    left: -10vh;
    bottom: 0;
    width: 100%;
    height: auto;
    opacity: 0.15;
    z-index: 1;
}
.section4 .container .imgBx{
    max-width: 40vw;
    flex: 0 0 40vw;
    z-index: 2;
}
.section4 .container .imgBx img{
    max-width: 100%;
}
@media (max-width: 1080px){
    .section4 .container{
        flex-direction: column;
    }
    .section4 .container .imgBx{
        max-width: 100%;
    }
    .section4 .container .text{
        margin-left: 0;
        margin-bottom: 1em;
    }
}
.section4 .num{
    color: #181516;
    position: absolute;
    top: 25vh;
    right: -5px;
}
/* Icam */
.tableF1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableF1 tbody {
    display: flex;
    width: 100%;
    position: relative;
    align-items: stretch;
    margin-top: 2em;
}
.tableF1 tr:nth-child(2) {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 1em;
    padding-right: 1EM;
}
.tableF1 tr:nth-child(1) {
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.tableF1 th, .tableF1 td {
    flex-basis: 100%;
    text-align: left;
    display: flex;
}
.tableF1 th a{
    font-family: 'semiBold', sans-serif;
    text-transform: uppercase;
}
.tableF1 img{
    width: 6em;
    height: auto;
    filter: grayscale(1);
}
.tableF1 img:hover{
    cursor: pointer;
    filter: grayscale(0);
}
/* BTS */
.tableF2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableF2 tbody {
    display: flex;
    width: 100%;
    position: relative;
    align-items: stretch;
    margin-top: 2em;
}
.tableF2 tr:nth-child(2) {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 1em;
    padding-right: 1EM;
}
.tableF2 tr:nth-child(1) {
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.tableF2 th, .tableF2 td {
    flex-basis: 100%;
    text-align: left;
    display: flex;
}
.tableF2 th a{
    font-family: 'semiBold', sans-serif;
    text-transform: uppercase;
}
.tableF2 img{
    width: 6em;
    height: auto;
    filter: grayscale(1);
}
.tableF2 img:hover{
    cursor: pointer;
    filter: grayscale(0);
}
/* Bac */
.tableF3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableF3 tbody {
    display: flex;
    width: 100%;
    position: relative;
    align-items: stretch;
    margin-top: 2em;
    margin-bottom: 2em;
}
.tableF3 tr:nth-child(2) {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 1em;
    padding-right: 1EM;
}
.tableF3 tr:nth-child(1) {
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.tableF3 th, .tableF3 td {
    flex-basis: 100%;
    text-align: left;
    display: flex;
}
.tableF3 th a{
    font-family: 'semiBold', sans-serif;
    text-transform: uppercase;
}
.tableF3 img{
    width: 6em;
    height: auto;
    filter: grayscale(1);
}
.tableF3 img:hover{
    cursor: pointer;
    filter: grayscale(0);
}

/* Section5 */
.section5{
    max-width: 100vw;
    margin-top: -1vh;
    padding-top: -100px;
    position: relative;
    padding: 2vh 6vw 2vh 2vw;
    height: auto;
    background-color: #181516;
    display: flex;
    min-height: 50vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.section5 .container{
    position: relative;
    max-width: 100%;
    display: flex;
    margin-left: 2vh;
}
.section5 .container .imgBx{
    max-width: 40vw;
    flex: 0 0 40vw;
}
.section5 .container .imgBx img{
    max-width: 100%;
}
.section5 .container .text{
    margin-right: 2em;
}
@media (max-width: 1080px){
    .section5 .container{
        flex-direction: column;
    }
    .section5 .container .imgBx{
        max-width: 100%;
    }
    .section5 .container .text{
        margin-left: 0;
        margin-bottom: 1em;
    }
}
.section5 .num{
    color: #ffffff;
    position: absolute;
    top: 25vh;
    right: -5px;
}
.section5 a{
    color: #ffffff;
}
.section5 p{
    color: #ffffff;
    text-align: justify;
}

/* Footer */
.footer{
    z-index: 1;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.footer ul{
    list-style: none;
}
.footer img{
    height: auto;
    max-width: 12vw;
}
.footer li:nth-child(2) a{
    font-size:calc(10px + 1vw);
    font-family: 'semiBold', sans-serif;
}
.footer a{
    font-size: 1.25em;
    color: #181516;
}
.footer li:nth-child(5) a, li:nth-child(7) a, li:nth-child(9) a{
    font-size: calc(6px + 0.5vw);
}
.footer li:nth-child(8) a:hover, li:nth-child(6) a:hover{
    cursor: pointer;
    font-family: 'semiBold', sans-serif;
    color: #181516;
}
.footer li:nth-child(10) a{
    font-size: 2em;
}
.footer li:nth-child(10) a:hover{
    color: #094290;
    cursor: pointer;
}
.footer .copyright {
    text-align: center;
    color: #181516;
    font-family: 'MontserratThin', sans-serif;
    text-decoration: none;
    font-size:calc(12px + 0.25vw);
    margin-bottom: 2vh;
}
